AMAZON_EMAIL=arockiajoshuva2002@gmail.com
AMAZON_PASSWORD=Joshuva@2002
AMAZON_PRODUCT_QUERY=iPhone 17 Pro Max 2 TB: 17.42 cm (6.9")
AMAZON_PRODUCT_MATCH=iPhone 17 Pro Max 2 TB
HEADLESS=false
AMAZON_LOGIN_TIMEOUT_MS=120000
ACTION_TIMEOUT_MS=60000
EXPECT_TIMEOUT_MS=30000
NAVIGATION_TIMEOUT_MS=120000
TEST_TIMEOUT_MS=240000
